# EditorConfig is awesome: https://EditorConfig.org
#
# default editorconfig set ~/ to symlink

# top-most EditorConfig file
# root = true


### markdown
[*.md]
indent_size = 2
indent_style = space
tab_width = 2

[*.{json,yml}]
tab_width = 4
indent_size = 4
indent_style = space


