# src: shared/configs/secretlint.config.base.yaml
# @(#) : editorconfig base configs (templates)
#
# Copyright (c) 2025 atsushifx <https://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

root = true

# ─────────────────────────────
# Base Settings
# ─────────────────────────────
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2

# ─────────────────────────────
# Documents
# ─────────────────────────────
[*.md]
indent_style = space
indent_size = 2
tab_width = 2

# ─────────────────────────────
# JSON
# ─────────────────────────────
[*.json]
indent_style = space
indent_size = 2
tab_width = 2

# ─────────────────────────────
# YAML
# ─────────────────────────────
[*.{yaml,yml}]
indent_style = space
indent_size = 2
tab_width = 2

# ─────────────────────────────
# INI / TOML
# ─────────────────────────────
[*.ini]
indent_style = tab
tab_width = 4

[*.toml]
indent_style = tab
tab_width = 4

# ─────────────────────────────
# rc Files
# ─────────────────────────────
[*rc]
indent_style = space
indent_size = 2
tab_width = 2

# ─────────────────────────────
# Shell Scripts
# ─────────────────────────────
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2
tab_width = 2

# PowerShell
[*.ps1]
indent_style = space
indent_size = 4
tab_width = 4

# ─────────────────────────────
# Git Config Files
# ─────────────────────────────
[*.git*]
indent_style = tab
tab_width = 4

[**/git/*]
indent_style = tab
tab_width = 4

# ─────────────────────────────
# Special Files (e.g. Dockerfile, LICENSE)
# ─────────────────────────────
# ignore files
[**/*ignore]
indent_style = space
indent_size = 2
tab_width = 2


# [Dockerfile]
# indent_style = space
# indent_size = 2
